
//@import "../libs/normalize-less/normalize.less";

//Colores
@Azul_Oscuro : #206086;
@Azul_Medio :  #346f92;
@Azul_Claro :  #257ac0;
@Gris_Textos :  #6f6c6c;
@Blanco: #ffffff;

//Fuentes
@fontMyriadPro: "Myriad Pro", Arial, sans-serif;
@fontTitilliumWeb: 'Titillium Web', trebuchet, sans-serif;

* {
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	border: none;
}

body{
	font-family: @fontTitilliumWeb;
	font-weight: 300;
}

header#header{
	height: 70px;
	background: #206086; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #206086 0%, #346f92 47%, #206086 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#206086), color-stop(47%,#346f92), color-stop(100%,#206086)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #206086 0%,#346f92 47%,#206086 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #206086 0%,#346f92 47%,#206086 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #206086 0%,#346f92 47%,#206086 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #206086 0%,#346f92 47%,#206086 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#206086', endColorstr='#206086',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	
	nav#content{
		position: absolute;
		height: 50px;
		top: 10px;
		width: 100%;

		#main_title{
			float: left;
			width: 250px;

			h1{
				line-height: 50px;
				text-align: center;
				color: @Blanco;
				font-family: @fontMyriadPro;
				font-size: 2em;
				line-height: 60px;
				font-weight: 300;

			}
		}

		ul#main_menu{
			float: left;
			list-style: none;
			list-style-type: none;

			li{
				display: inline-block;
				width: 50px;
				height: 50px;
				margin-left: -5px;

				&:hover{
					background: @Azul_Oscuro;
				}

				img{
					width: 50px;
					height: 50px;
					display: block;
				}
			}
		}

		#container_form_login{
			float: right;
			margin-top: 10px;
			margin-right: 10px;

			a{
				text-decoration: none;
				color: @Blanco;
				font-family: @fontTitilliumWeb;
				font-weight: 400;
				font-size: .9em;
				margin-left: 100px;
				line-height: 20px;
			}

			#form_login{

				fieldset{
					display: inline-block;
					border-color: transparent;
					height: 20px;

					.icon_field{
						width: 20px;
						height: 20px;
						display: inline-block;
						vertical-align: middle;

						&#iemail{
							width: 50px;
							background: url("../img/correo.png") no-repeat;
						}

						&#ipasswd{
							background: url("../img/contrasena.png") no-repeat;
						}
					}

					input{
						font-family: @fontMyriadPro;
						padding-left: 4px;
						height: 25px;
						border: none;
						-webkit-border-radius: 3px;
						-moz-border-radius: 3px;
						border-radius: 3px;

						&[type="submit"]{
							padding: 0 8px;
						}
					}
				}
			}
		}
	}
}

section#content{
	position: relative;
	z-index: 0;

	aside#sidebar{
		width: 0px;
		float: left;
		background: rgb(247,251,252); /* Old browsers */
		overflow-y: auto;
	}

	div#viewer_div{
		position: relative;
		width: auto;
	}
}

.component_accordion{
	list-style: none;
	list-style-type: none;
	padding: 5px;
	
	li.lvl_1{
		height: auto;
		padding: 10px;
		border-bottom: 2px solid @Azul_Oscuro;
		cursor: pointer;

		img.icon_lvl1{
			width: 10%;
			display: inline-block;
			vertical-align: bottom;
		}

		h1{
			width: 70%;
			display: inline-block;
			font-family: @fontTitilliumWeb;
			font-weight: 400;
			color: @Azul_Medio;
			line-height: 20px;
			font-size: 1.2em;

		}

		a.icon_info_lvl1{
			background: url("../img/info.png");
			width: 24px;
			height: 24px;
			background-size: 24px 24px;
			background-repeat: no-repeat;
			display: inline-block;
			vertical-align: bottom;
		}
	}

	ul.lvl_2{
		display: none;
		list-style: none;
		list-style-type: none;
		padding: 5px;

		li.lvl_2{
			padding-top: 10px;
			padding-bottom: 5px;
			padding-left: 5px;
			//border-bottom: 1px solid @Azul_Oscuro;
			cursor: pointer;

			&:hover{
				background: @Azul_Medio;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;

				h2.lvl_2{
					color: @Blanco;
				}
				a.icon_info_lvl2{
					background: url("../img/infowhite.png");
					width: 24px;
					height: 24px;
					background-size: 24px 24px;
					background-repeat: no-repeat;
				}
			}

			&.active{
				background: @Azul_Medio;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;

				h2.lvl_2{
					color: @Blanco;
				}
				a.icon_info_lvl2{
					background: url("../img/infowhite.png");
					width: 24px;
					height: 24px;
					background-size: 24px 24px;
					background-repeat: no-repeat;
				}
			}

			h2.lvl_2{
				width: 87%;
				display: inline-block;
				font-family: @fontTitilliumWeb;
				color: @Azul_Medio;
				line-height: 10px;
				font-size: .9em;
				vertical-align: baseline;
			}

			a.icon_info_lvl2{
				background: url("../img/info.png");
				width: 24px;
				height: 24px;
				background-size: 24px 24px;
				background-repeat: no-repeat;
				display: inline-block;
				vertical-align: middle;
			}
		}

		li.content_lvl2{
			display: none;
			padding: 8px;
			font-size: 0.9em;
		}
	}
}

.clearFloat{
	clear: both;
}